@media screen and (max-width: 600px) {
    .container {
        width: 100%;
    }

    .sun {
        width: 8em;
        height: 8em;
    }

    .earth {
        width: 25em;
        height: 25em;
    }

    .earth::before {
        top: 2em;
        right: 2em;
    }

    .moon {
        top: 1em;
        left: 18em;
    }

    .moon::before {
        top: 0.8em;
        right: 0.2em;
    }
}